/*** Fait par Geneviève Ouellette et Bashir Alla ***/
/*** Dernière modification le 15 février 13:15***/

/***Général***/

td {
  border: 1px solid black;
  border-spacing: 0px;
  text-align: center;
}

tr,
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

/*** Tableau périodique ***/
#coin {
  border: none;
}

.period {
  width: 720px;
  height: 240px;
}

.period p {
  color: blue;
  line-height: 0;
}

.period td {
  width: 40px;
  height: 60px;
}

.numbers_first_line th {
  vertical-align: bottom;
}

.numbers_first_column th {
  text-align: end;
}

/*** Tableau des catégories ***/
.categories {
  width: 500px;
  height: 100px;
}

.categories td {
  width: 125px;
  height: 50px;
}

/*** Pied de page ***/
footer p {
  text-align: right;
  font-size: 10px;
}

/*** Couleur des éléments ***/
.Mtlides {
  background-color: rgba(196, 170, 139, 1);
}

.NonMtl {
  background-color: rgb(0, 255, 149);
}

.Halo {
  background-color: yellow;
}

.GazNob {
  background-color: rgb(0, 243, 255);
}

.MetAlc {
  background-color: red;
}

.MetAlcTer {
  background-color: orange;
}

.MetTrans {
  background-color: rgb(255, 192, 211);
}

.MetPauv {
  background-color: rgb(208, 203, 210);
}
